body, html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #DBAFA0;
}

@media (max-width: 576px) {
  .card {
    transform: none;
    margin: 10px 0;
  }

  .btn {
    padding: 5px 10px;
    border-radius: 20px;
  }

  .card-img-top {
    border-radius: 10px;
  }

  .text-center {
    font-size: 28px;
  }

  h1 {
    margin: 10px;
  }
}

@media (hover: none) {
  .card:hover {
    transform: none;
    box-shadow: none;
  }
}

.bg-lilac {
  background-color: #49243E;
}

.text-center {
  margin-bottom: 5px;
}

.info {
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 1s ease-out forwards;
}

.card {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

h1 {
  max-width: 100%;
  opacity: 0;
  transform: translateY(50px);
  animation: slideUp 1s ease-out forwards;
}

.container {
<<<<<<< Updated upstream
  width: 100vw;
  max-width: 100%;
  background-color: #DBAFA0;
  border-radius: 15px;
=======
  border-radius: 10px;
>>>>>>> Stashed changes
  margin-top: 1px;
}

.container-title {
  padding: 50px;
  padding-bottom: 20px;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn {
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 40px;
  border: 2px solid #fafafa;
  box-shadow: 0 0.4em 1em rgba(0,0,0,0.1);
}

.btn-lilac {
  background-color: #49243E;
}

.btn-lilac:hover {
  background-color: white;
  color: #49243E;
  border: 2px solid #49243E;
}

.card-img-top {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .text-center {
    font-size: 28px;
  }

  .info {
    font-size: 14px;
  }

  .container-title h1 {
    font-size: 32px;
  }

  .card {
    margin-bottom: 20px;
  }
}