      /* * {
        font-family: 'Inter';
      } */
      .card {
        max-width: 600px;
        margin-bottom: 50px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
      }

      .card:hover {
        transform: scale(1.1);
      }

      h1 {
        padding-bottom: 50px;
        opacity: 0;
        transform: translateY(50px);
        animation: slideUp 1s ease-out forwards;
      }

      @keyframes slideUp {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }

      .btn {
        color: #fafafa;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 40px;
        border: 2px solid #fafafa;
        box-shadow: 0 0.4em 1em rgba(0,0,0,0.1);
        border: none;
      }

      .btn-primary:hover {
        background-color: white;
        color: rgb(54, 54, 184);
      }